<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel = 'stylesheet' href = {{ url_for('static', filename = 'style.css') }}>
</head>
<body>
    <div>
        <h1>Hello {{ session['currentUser']}}</h1>
    </div>

    <!-- {% for i in range(10) %}
        <P>Welcome</P>
    {% endfor %} -->
    <div>
        <form action="/questionReviser">
            <input type="submit" value="Question Reviser" />
        </form>
        <br>
        <img src = "giphy.gif" alt = 'toilet'  >
    </div>
    <br>
    <div>
        <form action="/statistics">
            <input type="submit" value="User Statistics" />
        </form>
        <br>
        <!-- <img height="200" width="400" src =  alt=""> -->
    </div>
    <br>
    <div>
        <a href = '/logout'>Logout</a>
    </div>
</body>
</html>