<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel = 'stylesheet' href = {{ url_for('static', filename = 'style.css') }}>
    <!-- <style>
        /* input {
            font-family: 'Microsoft Yi Baiti';
            color: rgb(0, 0, 0);
            border-radius: 5px;
        } */
    </style> -->
</head>
<body style="background-color: cornsilk;">
    <h1>Welcome to my page</h1>

    <form action = '/auth' method = 'post'>
    <div>
            <label for = 'username'>username:  </label>
            <input type = 'text' name = 'username' id = 'username' required>
        </div>
        <div>
            <label for = 'password'>password:  </label>
            <input type = password name = 'password' id = 'password' required>
        </div>

        <div>
            <input type = 'submit' value = 'login'>
        </div>
    </form>

    Don't have an account? <a href = '/signup'>Sign Up</a>
</body>
</html>