<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up page</title>
</head>
<body>
    <h1>Sign Up Now!</h1>

    <form action = '/createUser' method = 'post'>
        <div>
            <label for = 'username'>username:  </label>
            <input type = 'text' name = 'username' id = 'username' required>
        </div>
        <div>
            <label for = 'password'>password:  </label>
            <input type = password name = 'password' id = 'password' required>
        </div>

        <div>
            <label for = 'rePassword'>Re-enter Password:  </label>
            <input type = password name = 'rePassword' id = 'rePassword' required>
        </div>

        <div>
            <input type = 'submit' value = 'Sign Up'>
        </div>
    </form>

    Already have an account?  <a href = '/'>Login</a>
</body>
</html>